<div id="event-{{htmlId eventTopic}}" class="opendxl--panel-event panel">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="name"><strong>{{eventTopic}}</strong></h3>                
    </div>
    <div class="panel-body">
        {{>opendxl/message message=event class="odxl-event-payload"}}
    </div>
</div>