{{#eachSorted otherFields}}
    <tr>
        <td>
            {{@key}}
        </td>
        <td>
            {{md description}}
        </td>
        <td>
            {{#if required}}
                <span class="json-property-required"></span>
            {{/if}}
        </td>
        <td>
            {{example}}
        </td>    
    </tr>
{{/eachSorted}}
